{% extends "layout.html" %}
{% block title %}
SignUp
{% endblock %}
{% block content %}
<div class="col">
  <h4>Admin Account Create</h4>
</div>

<form method="post" action="/admin">
  <p>
    <label for="user_id">user_id:</label>
    <input type="text" id="user_id" name="user_id">
  </p>
  <p>
    <label for="password">password:</label>
    <input type="password" id="password" name="password">
  </p>
  <p>
    <label for="email">email:</label>
    <input type="text" id="email" name="email">
  </p>
    <button type="submit" class="btn btn-primary">CREATE</button>
</form>
{% endblock %}