{% extends "layout.html" %}
{% block title %}
Show widgets
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid">
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('analyze') }}">
            <span data-feather="shopping-cart"></span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sale') }}">
            <span data-feather="award"></span>
            Sales
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('factory') }}">
            <span data-feather="home"></span>
            Factorys
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('upload') }}">
            <span data-feather="file"></span>
            Uploads
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>Products</h4>
      <hr>
    </div>

    {{ products_fig | safe }}

    <hr>

    {% macro easy_row(data, tag) -%}
      {% for product in data %}
      <div class="row">
        <div class="col">
          <{{ tag }}>{{ product.product_name }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_description }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_price }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_amount }}</{{ tag }}>
        </div>
      </div>
      {% endfor %}
    {%- endmacro %}

    {% set col_names = [{"product_name":"NAME","product_description":"DESCRIPTION","product_price":"PRICE","product_amount":"AMOUNT"},] %}

    {{ easy_row(col_names,"h6") }}

    {{ easy_row(products,"p") }}

  </main>

  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="../static/js/dashboard.js"></script>

</div>
{% endif %}
{% endblock %}