<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-item">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
            <a href="{{ url_for('show_widgets') }}" class="navbar-item">Show widgets</a>
            <a href="{{ url_for('select_widgets') }}" class="navbar-item">Select widgets</a>
            <a href="{{ url_for('select_widgets_select_opt') }}" class="navbar-item">Select widgets select option</a>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>© 2018</p>
            </footer>
        </div>
    </body>
</html>