{% extends "layout.html" %}
{% block title %}
SignUp
{% endblock %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_admin %}
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h4>Account</h4>
      <hr>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" onclick="document.getElementById('id03').style.display='block'">Account Create</button>
      <div id="id03" class="modal">
        <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form class="modal-content animate" method="post" action="/manage">
            <div class="container">
              <label for="user_id" style="color: #ffffffb7">USER ID</label>
              <input type="text" id="user_id" name="user_id">
            
              <label for="password" style="color: #ffffffb7">PASSWORD</label>
              <input type="password" id="password" name="password">
            
              <label for="email" style="color: #ffffffb7">EMAIL</label>
              <input type="text" id="email" name="email">

              <label style="color: #ffffffb7">ROLE</label>
              <div class="form-check">
                <input id="user" name="role" type="radio" class="form-check-input" value="user" checked>
                <label class="form-check-label" for="user" style="color: #ffffffb7">USER</label>
              </div>
              <div class="form-check">
                <input id="admin" name="role" type="radio" class="form-check-input" value="admin">
                <label class="form-check-label" for="admin" style="color: #ffffffb7">ADMIN</label>
              </div>
            
              <button type="submit" class="btn btn-primary">CREATE</button>
            </div>
          </form>
        </div>

        <p></p>

        <div class="row align-items-start">
          <div class="col">
            <h4>Product</h4>
            <hr>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" onclick="document.getElementById('id02').style.display='block'">Product Create</button>
        <div id="id02" class="modal">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content animate" method="post" action="/product_create">
              <div class="container">
                <label for="product_name" style="color: #ffffffb7">PRODUCT NAME</label>
                <input type="text" id="product_name" name="product_name">
              
                <label for="product_description" style="color: #ffffffb7">PRODUCT DESCRIPTION</label>
                <input type="text" id="product_description" name="product_description">
              
                <label for="product_price" style="color: #ffffffb7">PRODUCT PRICE</label>
                <input type="text" id="product_price" name="product_price">
              
                <label for="product_amount" style="color: #ffffffb7">PRODUCT AMOUNT</label>
                <input type="text" id="product_amount" name="product_amount">
              
                <button type="submit" class="btn btn-primary">CREATE</button>
              </div>
            </form>
        </div>

      <script>
        // Get the modal
        var modal03 = document.getElementById('id03');
        
        // Get the modal
        var modal02 = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal02) {
                modal02.style.display = "none";
            }

            if (event.target == modal03) {
                modal03.style.display = "none";
            }
        }

      </script>
</div>
<footer class="my-5 text-muted text-center text-small">
  <hr class="my-4">
  <p>© Leonard Inc. 2022. All Rights Reserved. </p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
{% endif %}
{% endblock %}