{% extends "layout.html" %}
{% block title %}
Show widgets
{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <h4>Products List</h4>
        <hr>
      </div>
    </div>
    {{ products_fig | safe }}

    {% macro easy_row(data, tag) -%}
      {% for product in data %}
      <div class="row">
        <div class="col">
          <{{ tag }}>{{ product.product_name }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_description }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_price }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ product.product_amount }}</{{ tag }}>
        </div>
      </div>
      {% endfor %}
    {%- endmacro %}

    {% set col_names = [{"product_name":"NAME","product_description":"DESCRIPTION","product_price":"PRICE","product_amount":"AMOUNT"},] %}

    {{ easy_row(col_names,"h6") }}

    {{ easy_row(products,"p") }}

    <hr>

    <div class="col">
      <h4>Products Create</h4>
    </div>

    <form method="post" action="/product_create">
      <p>
        <label for="product_name">product_name:</label>
        <input type="text" id="product_name" name="product_name">
      </p>
      <p>
        <label for="product_description">product_description:</label>
        <input type="text" id="product_description" name="product_description">
      </p>
      <p>
        <label for="product_price">product_price:</label>
        <input type="text" id="product_price" name="product_price">
      </p>
      <p>
        <label for="product_amount">product_amount:</label>
        <input type="text" id="product_amount" name="product_amount">
      </p>
        <button type="submit" class="btn btn-primary">CREATE</button>
    </form>

</div>
{% endblock %}