{% extends "layout.html" %}
{% block title %}
Show widgets
{% endblock %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        <h4>Widgets List</h4>
      </div>
    </div>
    {% macro easy_row(data, tag) -%}
      {% for widget in data %}
      <div class="row">
        <div class="col">
          <{{ tag }}>{{ widget.name }}</{{ tag }}>
        </div>
        <div class="col">
          <{{ tag }}>{{ widget.description }}</{{ tag }}>
        </div>
      </div>
      {% endfor %}
    {%- endmacro %}

    {% set col_names = [{"name":"NAME","description":"DESCRIPTION"},] %}

    {{ easy_row(col_names,"h5") }}

    {{ easy_row(widgets,"p") }}

</div>
{% endblock %}