{% extends "layout.html" %}
{% block title %}
Uploads
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('analyze') }}">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sale') }}">
              <span data-feather="award"></span>
              Sales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('factory') }}">
              <span data-feather="home"></span>
              Factorys
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">
              <span data-feather="file"></span>
              Uploads
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>Upload</h4>
        <hr>
        </div>
        
        <!-- <form> -->
            <div class="mb-3">
              <label for="file-uploader" class="form-label"></label>
              <input class="form-control" type="file" name=file id="file-uploader">
            </div>
            <!-- <input type=file name=file class="custom-file-input" id="file-uploader"> -->
            <input type=submit value=Upload class="btn btn-dark" onclick="uploadFile()">
        <!-- </form> -->
        
        <!-- {% macro easy_row(data, tag) -%}
          {% for file in data.filelist %}
            <div class="row">
                <div class="col">
                    <{{ tag }}>{{ file }}</{{ tag }}>
                </div>
            </div>
          {% endfor %}
        {%- endmacro %}

        {% if filelist %}
          {{ easy_row(filelist,"p") }}
        {% endif %} -->
        <hr>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">FILENAME</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody id="filelist">
            </tbody>
          </table>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="../static/js/dashboard.js"></script>
    <script>
      const fileUploader = document.getElementById('file-uploader');
      let form = new FormData();
      
      fileUploader.addEventListener('change', (e) => {
        form.append('file',e.target.files[0]);
      });

      window.onload=function(){
          const xhttp = new XMLHttpRequest();
          xhttp.open("GET", "{{apiServer}}/api/guest/{{ current_login_user }}/uploaded", false);
          xhttp.send();
          const obj = JSON.parse(xhttp.responseText);
          //document.getElementById("filelist").innerHTML = "<p>"+xhttp.responseText+"</p>";
          //document.getElementById("filelist").insertAdjacentHTML("beforeend",obj.filelist);
          for (let i = 0; i < obj.filelist.length; i++) {
            document.getElementById("filelist").insertAdjacentHTML("beforeend",'<tr><td>'+obj.filelist[i]+'</td><td><input type=submit value=Delete class="btn btn-outline-danger"></td></tr>');
          }
      }

      function uploadFile() {
          const XHR = new XMLHttpRequest();
          const xhttp = new XMLHttpRequest();
          //fetch('http://127.0.0.1:5000/api/guest/upload',{
            //headers: {
              //  'content-type': 'multipart/form-data;',
            //},
            //method: 'POST',
            //body: form,
          //});
          // Set up our request
          XHR.open('POST', "{{apiServer}}/api/guest/{{ current_login_user }}/upload");
          console.log("{{ current_login_user }}");

          // Send our FormData object; HTTP headers are set automatically
          XHR.send(form);""

          fileUploader.value = '';

          //xhttp.open("GET", "{{apiServer}}/api/guest/uploaded", false);
          //xhttp.send();
          //const obj = JSON.parse(xhttp.responseText);
          //document.getElementById("filelist").innerHTML = "<p>"+xhttp.responseText+"</p>";
          //document.getElementById("filelist").insertAdjacentHTML("beforeend",obj.filelist);
          for (const key of form.keys()) {
            document.getElementById("filelist").insertAdjacentHTML("beforeend",'<tr><td>'+form.get(key).name+'</td><td><input type=submit value=Delete class="btn btn-outline-danger"></td></tr>');
            form.delete(key);
          }
          //xhttp.open("POST","{{apiServer}}/api/guest/histogram_plotly",false);
          //var data = new FormData();
          //data.append('filename',form.get('file').name);
          //data.append('x','sepal_length');
          //data.append('y','sepal_width');
          //xhttp.send(data);
      }
    </script>
</div>
{% endif %}
{% endblock %}